/* ==========================================================================
   Variables
   ========================================================================== */


// Structure

// Text Selection
$selectionColor: orange;

// Colors
$red: purple;
$blue: purple;

// SCSS
$rgb-currencyexchanger-green: #62BB0C;
$rgb-currencyexchanger-orange: #C87D08;
$rgb-currencyexchanger-orange--light: #ffab23;
$browser-context: 16;

